<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Movie</a></li>
    <li><a data-toggle="tab" href="#menu1">Actor</a></li>

</ul>

<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <div class="box">
            <div class="box-heading">Movie By Alphabet</div>
            <div class="box-content">
                <div class="boss-alphabet">
                    <ul>
                        <li><a href="@Url.Action("SearchAlphabetMovie", "Home",new { searchAlphabetMovie = "A" })">A</a></li>
                        <li><a href="@Url.Action("SearchAlphabetMovie", "Home",new { searchAlphabetMovie = "B" })">B</a></li>
                        <li><a href="@Url.Action("SearchAlphabetMovie", "Home",new { searchAlphabetMovie = "C" })">C</a></li>
                        <li><a href="@Url.Action("SearchAlphabetMovie", "Home",new { searchAlphabetMovie = "D" })">D</a></li>
                        <li><a href="@Url.Action("SearchAlphabetMovie", "Home",new { searchAlphabetMovie = "E" })">E</a></li>
                        <li><a href="@Url.Action("SearchAlphabetMovie", "Home",new { searchAlphabetMovie = "F" })">F</a></li>
                        <li><a href="@Url.Action("SearchAlphabetMovie", "Home",new { searchAlphabetMovie = "G" })">G</a></li>
                        <li><a href="@Url.Action("SearchAlphabetMovie", "Home",new { searchAlphabetMovie = "H" })">H</a></li>
                        <li><a href="@Url.Action("SearchAlphabetMovie", "Home",new { searchAlphabetMovie = "I" })">I</a></li>
                        <li><a href="@Url.Action("SearchAlphabetMovie", "Home",new { searchAlphabetMovie = "J" })">J</a></li>
                        <li><a href="@Url.Action("SearchAlphabetMovie", "Home",new { searchAlphabetMovie = "K" })">K</a></li>
                        <li><a href="@Url.Action("SearchAlphabetMovie", "Home",new { searchAlphabetMovie = "L" })">L</a></li>
                        <li><a href="@Url.Action("SearchAlphabetMovie", "Home",new { searchAlphabetMovie = "M" })">M</a></li>
                        <li><a href="@Url.Action("SearchAlphabetMovie", "Home",new { searchAlphabetMovie = "N" })">N</a></li>
                        <li><a href="@Url.Action("SearchAlphabetMovie", "Home",new { searchAlphabetMovie = "O" })">O</a></li>
                        <li><a href="@Url.Action("SearchAlphabetMovie", "Home",new { searchAlphabetMovie = "P" })">P</a></li>
                        <li><a href="@Url.Action("SearchAlphabetMovie", "Home",new { searchAlphabetMovie = "Q" })">Q</a></li>
                        <li><a href="@Url.Action("SearchAlphabetMovie", "Home",new { searchAlphabetMovie = "R" })">R</a></li>
                        <li><a href="@Url.Action("SearchAlphabetMovie", "Home",new { searchAlphabetMovie = "S" })">S</a></li>
                        <li><a href="@Url.Action("SearchAlphabetMovie", "Home",new { searchAlphabetMovie = "T" })">T</a></li>
                        <li><a href="@Url.Action("SearchAlphabetMovie", "Home",new { searchAlphabetMovie = "U" })">U</a></li>
                        <li><a href="@Url.Action("SearchAlphabetMovie", "Home",new { searchAlphabetMovie = "V" })">V</a></li>
                        <li><a href="@Url.Action("SearchAlphabetMovie", "Home",new { searchAlphabetMovie = "W" })">W</a></li>
                        <li><a href="@Url.Action("SearchAlphabetMovie", "Home",new { searchAlphabetMovie = "X" })">X</a></li>
                        <li><a href="@Url.Action("SearchAlphabetMovie", "Home",new { searchAlphabetMovie = "Y" })">Y</a></li>
                        <li><a href="@Url.Action("SearchAlphabetMovie", "Home",new { searchAlphabetMovie = "Z" })">Z</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="menu1" class="tab-pane fade">
        <div class="box">
            <div class="box-heading">Actor By Alphabet</div>
            <div class="box-content">
                <div class="boss-alphabet">
                    <ul>
                        <li><a href="@Url.Action("SearchAlphabetActor", "Home",new { searchAlphabetActor = "A" })">A</a></li>
                        <li><a href="@Url.Action("SearchAlphabetActor", "Home",new { searchAlphabetActor = "B" })">B</a></li>
                        <li><a href="@Url.Action("SearchAlphabetActor", "Home",new { searchAlphabetActor = "C" })">C</a></li>
                        <li><a href="@Url.Action("SearchAlphabetActor", "Home",new { searchAlphabetActor = "D" })">D</a></li>
                        <li><a href="@Url.Action("SearchAlphabetActor", "Home",new { searchAlphabetActor = "E" })">E</a></li>
                        <li><a href="@Url.Action("SearchAlphabetActor", "Home",new { searchAlphabetActor = "F" })">F</a></li>
                        <li><a href="@Url.Action("SearchAlphabetActor", "Home",new { searchAlphabetActor = "G" })">G</a></li>
                        <li><a href="@Url.Action("SearchAlphabetActor", "Home",new { searchAlphabetActor = "H" })">H</a></li>
                        <li><a href="@Url.Action("SearchAlphabetActor", "Home",new { searchAlphabetActor = "I" })">I</a></li>
                        <li><a href="@Url.Action("SearchAlphabetActor", "Home",new { searchAlphabetActor = "J" })">J</a></li>
                        <li><a href="@Url.Action("SearchAlphabetActor", "Home",new { searchAlphabetActor = "K" })">K</a></li>
                        <li><a href="@Url.Action("SearchAlphabetActor", "Home",new { searchAlphabetActor = "L" })">L</a></li>
                        <li><a href="@Url.Action("SearchAlphabetActor", "Home",new { searchAlphabetActor = "M" })">M</a></li>
                        <li><a href="@Url.Action("SearchAlphabetActor", "Home",new { searchAlphabetActor = "N" })">N</a></li>
                        <li><a href="@Url.Action("SearchAlphabetActor", "Home",new { searchAlphabetActor = "O" })">O</a></li>
                        <li><a href="@Url.Action("SearchAlphabetActor", "Home",new { searchAlphabetActor = "P" })">P</a></li>
                        <li><a href="@Url.Action("SearchAlphabetActor", "Home",new { searchAlphabetActor = "Q" })">Q</a></li>
                        <li><a href="@Url.Action("SearchAlphabetActor", "Home",new { searchAlphabetActor = "R" })">R</a></li>
                        <li><a href="@Url.Action("SearchAlphabetActor", "Home",new { searchAlphabetActor = "S" })">S</a></li>
                        <li><a href="@Url.Action("SearchAlphabetActor", "Home",new { searchAlphabetActor = "T" })">T</a></li>
                        <li><a href="@Url.Action("SearchAlphabetActor", "Home",new { searchAlphabetActor = "U" })">U</a></li>
                        <li><a href="@Url.Action("SearchAlphabetActor", "Home",new { searchAlphabetActor = "V" })">V</a></li>
                        <li><a href="@Url.Action("SearchAlphabetActor", "Home",new { searchAlphabetActor = "W" })">W</a></li>
                        <li><a href="@Url.Action("SearchAlphabetActor", "Home",new { searchAlphabetActor = "X" })">X</a></li>
                        <li><a href="@Url.Action("SearchAlphabetActor", "Home",new { searchAlphabetActor = "Y" })">Y</a></li>
                        <li><a href="@Url.Action("SearchAlphabetActor", "Home",new { searchAlphabetActor = "Z" })">Z</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
<link href="~/Content/SearchAlphabet.css" rel="stylesheet" />