@model WebApplication4.Models.Profits

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Profits</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTimeDownload)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTimeDownload)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceMovie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceMovie)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
